@use "./partials/variables.scss" as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import '~bootstrap/scss/bootstrap';


// Add your own custom styles here
main{
 background-color: rgba(0, 0, 0, 0.538);
 padding-top: 56px;

}

header{
    position: fixed;
    z-index: 2000;
    width: 100%;
}

footer{
    height: 80px;
    background-color: rgba(9, 4, 39, 0.916);
    color: white;
    text-align: center;
}

#main_home{
    height: calc(100vh - 136px);
}